<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- 扫描controller的注解，别的不扫描 -->
    <context:component-scan base-package="team.wsfp.project.controller">
    </context:component-scan>

    <!-- 解决静态资源访问 -->
    <mvc:default-servlet-handler/>
    <!-- 配置视图解析器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- JSP文件所在的目录 -->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <!-- 文件的后缀名 -->
        <!--        <property name="suffix" value=".jsp" />-->
        <property name="suffix" value=".html"/>
    </bean>

    <!-- 设置静态资源不过滤 -->
    <mvc:resources location="/html/" mapping="/html/**"/>
    <mvc:resources location="/css/" mapping="/css/**"/>
    <mvc:resources location="/images/" mapping="/images/**"/>
    <mvc:resources location="/js/" mapping="/js/**"/>
    <mvc:resources location="/fonts/" mapping="/fonts/**"/>


<!--    <mvc:annotation-driven>-->
<!--        &lt;!&ndash; 消息转换器 &ndash;&gt;-->
<!--        <mvc:message-converters register-defaults="true">-->
<!--            <bean class="org.springframework.http.converter.StringHttpMessageConverter">-->
<!--&lt;!&ndash;                <property name="supportedMediaTypes" value="text/html;charset=UTF-8"/>&ndash;&gt;-->
<!--                <constructor-arg value="UTF-8"/>-->
<!--                <property name="writeAcceptCharset" value="false"/>-->
<!--            </bean>-->
<!--        </mvc:message-converters>-->
<!--&lt;!&ndash;        <mvc:message-converters register-defaults="true">&ndash;&gt;-->
<!--&lt;!&ndash;            <bean class="org.springframework.http.converter.StringHttpMessageConverter">&ndash;&gt;-->
<!--&lt;!&ndash;                       &ndash;&gt;-->
<!--&lt;!&ndash;                <constructor-arg value="UTF-8"/>&ndash;&gt;-->
<!--&lt;!&ndash;                <property name="writeAcceptCharset" value="false"/> &ndash;&gt;-->
<!--&lt;!&ndash;            </bean>&ndash;&gt;-->
<!--&lt;!&ndash;        </mvc:message-converters>&ndash;&gt;-->
<!--    </mvc:annotation-driven>-->

    <!--    <mvc:resources mapping="/static/**" location="/static/" />-->
    <!-- 开启对SpringMVC注解的支持 -->
    <mvc:annotation-driven/>

    <!--如果mvc无法解析，就交给tomcat寻找-->
    <mvc:default-servlet-handler/>

    <!--
        支持AOP的注解支持，AOP底层使用代理技术
        JDK动态代理，要求必须有接口
        cglib代理，生成子类对象，proxy-target-class="true" 默认使用cglib的方式
    -->
        <aop:aspectj-autoproxy proxy-target-class="true"/>
</beans>